.body {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  color: #2e363e;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

input {
  font-family: inherit;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: 0 auto;
}
.header {
  border-bottom: 3px solid #275f7a;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 175px;
}
.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 25px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #275f7a;
}
.nav {
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.nav-list-item {
  padding: 41px 0;
}
.nav-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #275f7a;
}
.address {
  font-style: normal;
}

.address-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.52;
  text-align: right;
  color: #275f7a;
}
.section {
  padding: 100px 0;
}
.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 12.02px;
}
.title-wrapper {
  padding-top: 136px;
}
.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  margin-bottom: 25px;

  width: 580.5px;
}
.hero-text {
  font-size: 21px;
  line-height: 1.6;
  letter-spacing: -0.01em;
  color: #434b53;
  margin-bottom: 25px;
  width: 434px;
}
.hero-btn {
  font-weight: 600;
  font-size: 21px;
  line-height: 1.43;
  letter-spacing: -0.01em;
  color: #fff;
  border-radius: 5px;
  padding: 20px 50px;
  width: 337px;
  height: 70px;
  background: #275f7a;
}
.hero-img {
  margin: auto 0;
}
.advantages {
  background-color: #275f7a;
}
.advantages-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}
.advantages-list {
  display: flex;
  flex-direction: row;
  gap: 53px;
  justify-content: start;
}
.advantages-list-item {
  width: 358px;
}
.advantages-list-item:last-child {
  width: 348px;
}
.advantages-list-icon {
  margin: 0 auto 11px;
}
.advantages-list-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.43;
  text-align: center;
  color: #fff;
  margin-bottom: 4px;
  text-align: center;
}
.advantages-list-text {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  text-align: left;
}
.speed-wrapper {
  display: flex;
  flex-direction: row;
  gap: 94.71px;
  justify-content: center;
  align-items: center;
}
.speed-img {
}
.speed-title-wrap {
  padding: 172px 0;
}
.speed-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
  width: 375.59px;
}
.speed-text {
  font-size: 21px;
  line-height: 1.43;
  letter-spacing: -0.01em;
  color: #434b53;
  margin-bottom: 28px;
}
.speed-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 30px;
}
.speed-list-item:first-child {
  width: 145px;
}
.speed-list-item:last-child {
  width: 167px;
}
.speed-list-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.33;
  color: #275f7a;
}
.speed-list-text {
  font-size: 14px;
  line-height: 1.5;
}
.feedback {
  background: #275f7a;
}
.feedback-wrap {
  margin: 0 auto;
}
.pretext-wrap {
  position: relative;
  margin-bottom: 19px;
}

.feedback-pretext {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: justify;
  color: #fff;
  padding-left: 155px;
}
.feedback-pretext::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  border: 2px solid #fff;
  width: 143px;
  height: 0px;
  transform: translateY(-50%);
}
.feedback-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.255;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 50px;
  width: 440px;
}
.feedback-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.feedback-list-item {
  width: calc((100% - 70px) / 3);
  padding-top: 41px;
  position: relative;
}
.feedback-img-wrap {
  position: absolute;
  top: 0;
  left: 133.18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #fff;
  width: 98px;
  height: 98px;
  margin: 0 auto;
  border: 3px solid #022c40;
}
.feedback-list-img {
}
.feedback-item-bg {
  background: #fff;
  border-radius: 5px;
  padding-top: 68.85px;
  padding-bottom: 18.49px;
}
.feedback-list-name {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #000;
  margin-bottom: 19.97px;
}
.feedback-list-text {
  display: block;
  font-size: 11px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: center;
  color: #696969;
  height: 66.51px;
  width: 329.07px;
  margin: 0 auto;
}
.last {
  width: 333.58px;
}
.visually-hidden {
}
.tafiffs-list {
  display: flex;
  gap: 20px;
}
.tafiffs-list-item {
  width: calc((100% - 40px) / 3);
  padding: 20px 24.39px 35.5px 34.39px;
  border-radius: 10px;
  box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
}
.tafiffs-list-item:first-child {
  padding-left: 34.88px;
  padding-right: 34.88px;
}
.tafiffs-list-item:last-child {
  padding-left: 34.78px;
  padding-right: 23px;
}
.tafiffs-list-img {
  display: block;
  margin: 0 auto 47px;
}
.tafiffs-item-wrap {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 52px;
}
.tafiffs-list-subtitle {
  font-weight: 700;
  font-size: 27px;
  line-height: 1.1;
  color: #2e363e;
}
.tafiffs-text-wrap {
  display: flex;
  justify-content: space-between;
}
.tafiffs-list-price {
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1;
  color: #434b53;
}
.tafiffs-list-feature {
  font-size: 16px;
  line-height: 1.1;
  color: #2e363e;
}
.tafiffs-list-speed {
  font-weight: 600;
  font-size: 18px;
}
.btn-wrap {
}
.tafiffs--btn {
  position: relative;
  display: block;
  width: 124px;
  height: 23px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.1;
  color: #275f7a;
  border: none;
  margin-left: auto;
  padding: 0;
}
.tafiffs--btn::after {
  border: 1px solid #275f7a;
  height: 0px;
  position: absolute;
  content: '';
  bottom: -1px;
}
.contact {
}
.contact-text {
}
.contact-form {
}
.contact-form-phone {
}
.contact-form-name {
}
.contact-form-btn {
}
.contact-form-checkbox {
}
.checkbox-wrap {
}
.checkbox-icon {
}
.checkbox-link {
}
.footer {
}
.footer-logo {
}
.footer-list {
}
.footer-list-item {
}
.footer-icon {
}
.footer-phone {
}
