.body {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  color: #2e363e;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

input {
  font-family: inherit;
}

.container {
  padding-left: 130px;
  padding-right: 140px;
  min-width: 1170px;
}
.header {
}
.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 25px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #275f7a;
}
.nav {
}
.nav-list {
}
.nav-list-item {
}
.nav-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #275f7a;
}
.address {
}
.address-list {
}
.address-list-item {
}
.address-link {
}
.section {
}
.title-form-wrapper {
}
.title {
}
.title-form {
}
.title-form-label {
}
.title-form-btn {
}
.hero-img {
}
.advantages-title {
}
.advantages-list {
}
.advantages-list-item {
}
.advantages-list-icon {
}
.advantages-list-text {
}
.speed-wrapper {
}
.speed-img {
}
.speed-title-wrap {
}
.speed-title {
}
.speed-text {
}
.speed-list {
}
.speed-list-item {
}
.speed-list-title {
}
.speed-list-text {
}
.feedback-pretext {
}
.feedback-title {
}
.feedback-list {
}
.feedback-list-item {
}
.feedback-list-img {
}
.feedback-list-name {
}
.feedback-list-text {
}
.visually-hidden {
}
.tafiffs-list {
}
.tafiffs-list-item {
}
.tafiffs-list-img {
}
.tafiffs-list-subtitle {
}
.tafiffs-list-price {
}
.tafiffs-list-feature {
}
.tafiffs-list-speed {
}
.tafiffs--btn {
}
.contact {
}
.contact-text {
}
.contact-form {
}
.contact-form-phone {
}
.contact-form-name {
}
.contact-form-btn {
}
.contact-form-checkbox {
}
.checkbox-wrap {
}
.checkbox-icon {
}
.checkbox-link {
}
.footer {
}
.footer-logo {
}
.footer-list {
}
.footer-list-item {
}
.footer-icon {
}
.footer-phone {
}
